@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
  /* Color */
  --white-color: #fff;
  --black-color: #140a00;
  --blue-color: #045fd4;
  --red-color: #ff0000;
  --grey-dark-color: #909090;
  --grey-light-color: #e0e0e0;

  /* Size */
  --padding: 1.2rem;
  --avatar-size: 3.6rem;

  /* Font Size */
  --font-large: 1.8rem;
  --font-medium: 1.4rem;
  --font-small: 1.2rem;
  --font-micro: 1rem;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: 'Roboto', sans-serif;
  font-size: 62.5%;
}

ul {
  list-style: none;
}

button,
button:focus {
  background-color: inherit;
  border: none;
  outline: none;
  cursor: pointer;
}

/* Header */
header {
  display: flex;
  justify-content: space-between;
  padding: var(--padding);
  background-color: var(--black-color);
  color: var(--white-color);
}

header {
  font-size: var(--font-large);
}

header .logo i {
  color: var(--red-color);
}

header .icons .fa-search {
  margin-right: var(--padding);
}

/* Video Player */
.player {
  position: sticky;
  top: 0;
  text-align: center;
  background-color: var(--black-color);
}

.player video {
  width: 100%;
  height: 100%;
  max-width: 1000px;
}

/* INFO */
body .info-and-up-next > .info {
  padding: var(--padding);
}

/* Metadata */
.info .metadata .hashtags {
  display: flex;
  font-size: var(--font-small);
  color: var(--blue-color);
}

.info .metadata .hashtags li {
  margin-right: var(--padding);
}

.info .metadata .titleAndButton {
  display: flex;
}

.info .metadata .titleAndButton .title {
  font-size: var(--font-medium);
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  margin-right: var(--padding);
}

.info .metadata .titleAndButton .more-btn {
  height: 100%;
  /* display: block; */
}

.info .views {
  font-size: var(--font-small);
  color: var(--grey-dark-color);
}

/* Actions */
.info .actions {
  display: flex;
  justify-content: space-around;
  margin: var(--padding) 0;
  font-size: var(--font-small);
}

.info .actions button {
  display: flex;
  flex-direction: column;
  font-size: var(--font-small);
  color: var(--grey-dark-color);
}

.info .actions button i {
  /* width: 100%; */
  margin: 0 auto;
  margin-bottom: calc(var(--padding) / 2);
  font-size: 1.6rem;
}

.info .actions button i.active {
  color: var(--blue-color);
}

.info .channel {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid var(--grey-light-color);
  border-bottom: 1px solid var(--grey-light-color);
}

.info .channel .metadata {
  display: flex;
  align-items: center;
}

.info .channel .metadata .info {
  display: flex;
  flex-direction: column;
}

.info .channel .metadata img {
  width: var(--avatar-size);
  height: var(--avatar-size);
  border-radius: 50%;
}

.info .channel .metadata .info .name {
  font-size: var(--font-medium);
}

.info .channel .metadata .info .subscribers {
  font-size: var(--font-small);
  color: var(--grey-dark-color);
}

.info .channel .subscribe {
  text-transform: uppercase;
  color: var(--red-color);
  font-size: var(--font-medium);
}

/* Up Next */
.up-next {
  padding: 0 var(--padding);
}

.up-next > .title {
  font-size: var(--font-medium);
  color: var(--grey-dark-color);
  margin-bottom: calc(var(--padding) / 2);
}

.up-next .item {
  display: flex;
  margin-bottom: calc(var(--padding) / 2);
}

.up-next .item .img {
  flex: 1 1 35%;
  margin-right: var(--padding);
}

.up-next .item .img img {
  width: 100%;
}

.up-next .item .info {
  flex: 1 1 60%;
}
.up-next .item .more-btn {
  height: 100%;
  flex: 1 1 5%;
}

.up-next .item .info {
  /* height: 100%; */
  display: flex;
  flex-direction: column;
}

.up-next .item .info .title {
  font-size: var(--font-small);
}

.up-next .item .info .name,
.up-next .item .info .views {
  font-size: var(--font-micro);
  color: var(--grey-dark-color);
}

.info-and-up-next {
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 768px) {
  .info-and-up-next {
    flex-direction: row;
    margin: var(--padding) 0;
  }
}
